{% extends 'base.html' %}

{% block title %}Create Event{% endblock %}

{% block content %}
<h1 class="text-2xl font-bold mb-4">Create Event</h1>

<form method="post" class="bg-white p-6 rounded-lg shadow-md space-y-4">
    {% csrf_token %}
    
    <div class="w-1/2 mx-auto mt-8">
    <div>
        <label for="id_name" class="block text-gray-700 font-medium">Event Name</label>
        {{ form.name }}
    </div>

    <div>
        <label for="id_description" class="block text-gray-700 font-medium">Description</label>
        {{ form.description }}
    </div>

    <div>
        <label for="id_date" class="block text-gray-700 font-medium">Date</label>
        {{ form.date }}
    </div>

    <div>
        <label for="id_time" class="block text-gray-700 font-medium">Time</label>
        {{ form.time }}
    </div>

    <div>
        <label for="id_location" class="block text-gray-700 font-medium">Location</label>
        {{ form.location }}
    </div>

    <div>
        <label for="id_category" class="block text-gray-700 font-medium">Category</label>
        {{ form.category }}
        
    </div>
    <div>
        <label for="id_participants" class="block text-gray-700 font-medium">Participants</label>
        {{ form.participants }}
    </div>
    

    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mt-3 rounded-lg">
        Save Event
    </button>
</div>
</form>

<a href="{% url 'event_list' %}" class="inline-block mt-4 text-blue-500 hover:underline">Back to Event List</a>
{% endblock %}
