.hero-section {
    background-image: url('../images/event_hero_bg.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: -999;
}
#user-menu {
    z-index: 99999;
}